
@{
    ViewData["Title"] = "Privacy & Policy ";
}

<head>
  
    <style>
        body {
          
        }

        h2 {
            font-family: "Baskerville Old Face";
            color: #d4cf37;
        }

        p {
            color: white;
        }

        .privacy {
            width: 100%;
           
         
        }

        .left {
            width: 30%;
            position: absolute;
            left: 10%;
            top: 107%;
        }

        .right {
            width: 40%;
            right: 10%;
            position: absolute;
            line-height: 1.2;
            top: 107%;
        }
    </style>
</head>
<body>
    <div class="privacy">
        <div class="left">
            <h2>Hours & Location</h2>

            <p style="color: #d4cf37; text-decoration: underline;"> The nile st, Assuit, Egypt</p>
            <p>  Everyday : <br> 9 am - 1 am </p>
            <p>  Breakfast: <br> Monday - Friday  <br> 9:00am - 1:0pm <br></p>
            <p>  Lunch: <br> Monday - Friday  <br> 1:00pm - 6:30pm <br></p>
            <p>  Dinner: <br> Monday - Friday  <br> 6:30pm - 1:00am <br></p>
        </div>

        <div class="right">
            <h2>Reservation </h2>

            <p>
     
                At è buono, we take your privacy seriously. This privacy policy explains how we collect, use,
                and protect your personal information when you make a reservation through our website. We may
                collect information such as your name, email address, phone number, and other contact information
                when you make a reservation online. We may also collect information about your dining preferences,
                allergies, or special requests to provide you with the best possible dining experience.<br><br>

                We use your personal information to process your reservation, communicate with you about your
                reservation, and to improve our services. We do not sell or share your personal information
                with third parties, except for processing payments or delivering orders.<br><br>

                We take reasonable measures to protect your personal information from unauthorized access,
                disclosure, or alteration. We use SSL encryption to secure your online transactions and
                restrict access to your personal information to authorized personnel only.<br><br>

                By making a reservation or order through our website,you can't cancel it you consent to the terms of this privacy policy.
                If you have any questions or concerns about our privacy practices, please contact us. We may update
                this privacy policy from time to time, and the latest version will be posted on our website.







            </p>

        </div>

    </div>
</body>

