@{
    ViewData["Title"] = "Confirmation";
}
@if (@TempData["SigninFlag"] != null && @TempData["SigninFlag"].ToString() == "1")
{

    Layout = "~/Views/Shared/_Layout2.cshtml";

}
<style>
    .co {
        color: white;
        font-weight: 800;
        font-size: xx-large;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }
</style>




<div class="co">We have confirmed your Feedback</div>